<h2>New Favorite Question</h2>
<%= form_for(@favoritequestion) do |f| %> 
<p>
<%= f.label :background %><br />
<%= f.text_field :background %>
</p>
<p>
<%= f.label :questionword %><br />
<%= f.text_field :questionword %>
</p>
<p>
<%= f.label :specificdunno %><br />
<%= f.text_field :specificdunno %>
<%= f.submit %>
<% end %>
